[Unit]
Description=Light show

[Service]
User=pi
WorkingDirectory=/home/pi/rpi-blink-led/
ExecStart=/usr/bin/python3 breathe.py
Restart=on-failure

[Install]
WantedBy=sysinit.target




